<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MammalsOrders.Insectivora.InsectivoraActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Artiodactyla.ArtiodactylaActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Cetacea.CetaceaActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Chiroptera.ChiropteraActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Monotremata.MonotremataActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Primates.PrimatesActivity"
            android:exported="false" />
        <activity
            android:name=".MammalsOrders.Rodentia.RodentiaActivity"
            android:exported="false" />
        <activity
            android:name=".Pet.PetTopic.CatTopicActivity"
            android:exported="false" />
        <activity
            android:name=".Pet.PetTopic.DogTopicActivity"
            android:exported="false" />
        <activity
            android:name=".Pet.PetActivity"
            android:exported="false" />
        <activity
            android:name=".Author.AuthorActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalClassificationActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz.QuizActivity"
            android:exported="true" />
        <activity
            android:name=".Invertebrata.InvertebartaActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Amphibia.AmphibiaActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Pisces.PiscesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Reptilia.ReptiliaActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Birds.BirdsActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".CarnivoraFamilies.Canidae.CanidaeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".CarnivoraFamilies.Canidae.CanidaeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".MammalsOrders.Carnivora.CarnivoraActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Mammals.MammalsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme" />
        <activity
            android:name=".Class.ClassActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.SwipeBackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>